* {
  margin: 0;
}

body {
  margin: 0;
  font-size: 16em;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  text-align: left;
}

li {
  text-align: left;
}

h1 {
  text-align: left;
  font-size: 14rem;
  margin-top: 10px;
  text-shadow: #FFD733 30px 10px;
}

h2 {
  text-align: left;
  padding: 10px 0 10px 0;
  font-size: 8rem;
}

h3 {
  text-align: left;
  font-size: 6rem;
  padding: 10px 0 10px 0;
}

h4 {
  text-align: center;
  font-size: 3rem;
}

h5 {
  text-align: left;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.bigtitle {
  text-align: left;
  font-size: 2.5rem;
  font-family: 'Satisfy' , sans-serif;
  margin-top: 10px;
  text-shadow: lightgray 20px 20px 2px;
}

.additional {
  text-align: center;
  font-size: 2.50rem;
  color: darkgreen;
  font-family: 'Satisfy' , sans-serif;
  margin: 20px 0 20px 0;
}

.interests {
  position: relative;
  margin-left: 10px;
  display: block;
  max-width: 290px;
}

.container {
  margin: 0;
  display: grid;
  margin-top: 5px;
  width: 100vh;
  background-color: white;
  border: 2px solid rgb(63, 133, 63);
  border-radius: 25px;
  box-shadow: 10px 20px 5px #FFD733 , 10px 20px 5px green;
}

.myface {
  padding: 10px;
  height: 220px;
}

.containerbox {
  max-width: 300px;
  text-align: left;
}

.main {
  padding: 0px;
  margin-left: 0px;
}

.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-fluid {
  max-width: 250px;
  height: fit-content;
  margin: 0;
}

.hrline {
  height:2px;
  width: 97%;
  margin-bottom: 10px;
  background-color: green;
  margin: 10px 0 10px 0;
}



.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}





